.rating-container{
    display: flex;
    padding: 5px;
}

.rating-container li span{
    font-size: 18px;
}

.rating-container li span.active{
    color: var(--yellow-star)
}
.rating-container li span.inactive{
    color: #000;
}