button{
    border: none;
    text-transform: capitalize;
    padding-block: 12px;
    padding-inline: 24px;
    width: 155px;
    border-radius: 30px;
    cursor: pointer;
}

button:hover{
    box-shadow: 1px 2px 7px grey ;
}

button.pill{
    background: var(--primary-orange);
    color: var(--second-text);
}
button.success{
    background: rgb(121, 190, 17);
    color: var(--second-text);
}
button.booking{
    color: var(--primary-text);
    background: var(--gray);
    min-width: 125px;
    max-width: max-content;
    padding: 8px 24px;
}
button.disabled{
    cursor: no-drop;
    opacity: .6;
    box-shadow: none;
}