.card{
    border-bottom-left-radius: 10px ;
    box-shadow: 2px 5px 6px var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease-in-out;
    /*remover linha abaixo*/
    margin-left: 10px;

}

.card:hover{
    box-shadow: 2px 5px 8px var(--medium-gray);
    cursor:text;
}

.card.info{
    width: 230px;
    text-align: center;
}

.card.info img{
    width: 30px;
}

.card .description{
    color: var(--dark-gray);
    font-weight: 600;
    text-transform: capitalize;
}