.card{
    border-bottom-left-radius: 10px ;
    box-shadow: 2px 5px 6px var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease-in-out;
    padding: 10px;
    /*remover linha abaixo*/
    margin: 15px;

}

.card:hover{
    box-shadow: 2px 5px 8px var(--medium-gray);
    cursor:text;
}
.card.clickable:hover{
    cursor: pointer;
}

.card .description{
    color: var(--dark-gray);
    font-weight: 600;
    text-transform: capitalize;
}
.card.info{
    width: 230px;
    text-align: center;
}

.card.info img{
    width: 30px;
}
.card.about{
    width: 160px;
    text-align: center;
    border-radius: 0 10px 0 10px;
    
}

.card.about .title{
    margin-block: 6px;
}
.card.about .description{
    font-size: 14px;
    line-height: normal;
}

.card.about img{
    width: 90px;
}
