.card {
  border-radius: 0 10px 0 10px;
  box-shadow: 2px 5px 6px var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
  padding: 10px;
  /*remover linha abaixo*/
  margin: 15px;
}

.card .title {
  color: var(--primary-text);
}
.card.description {
  color: var(--dark-gray);
}

.card:hover {
  box-shadow: 2px 5px 8px var(--dark-gray);
  cursor: text;
}
.card.clickable:hover {
  cursor: pointer;
}

.card .description {
  color: var(--dark-gray);
  font-weight: 600;
  text-transform: capitalize;
}
.card.info {
  width: 230px;
  text-align: center;
}

.card.info img {
  width: 30px;
}
.card.about {
  width: 160px;
  text-align: center;
}

.card.about .title {
  margin-block: 6px;
}
.card.about .description {
  font-size: 14px;
  line-height: normal;
}

.card.about img {
  width: 90px;
}

.card.product {
  width: 200px;
  padding: 0;
  text-align: left;
  align-items: baseline;
}

.card.product img {
  width: 100%;
  height: 140px;
  border-radius: 0 10px 0 20px;
}

.card.product .principal-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
}

.card.product .product-content .description {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 14px;
}

.card.product .product-content .description,
.card.product .principal-info {
  padding: 5px 10px;
}

.card.product .footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card.review {
  display: flex;
  justify-content: center;
  text-align: center;
  width: clamp(215px,90%, 375px);
  min-height: 160px;
}

.card.review .description{
  font-size: 14px;
  padding-block: 5px 0;
  color: var(--primary-text);
}

.card.review img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.card.review .principal-info, .card.review .footer-card button{
  display: none;
}

.card.review .footer-card{ 
  display: flex;
  justify-content: center;
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: #fff;
    --second-text: #000;
    --gray: #dadad9;
    --medium-gray: #b1b1b1;
    --dark-gray: #e6e6e6;
  }

  .card {
    border-bottom-left-radius: 10px;
    background: #e6e6e61f;
    box-shadow: 4px 8px 10px #141414;
  }
  .card:hover {
    box-shadow: 4px 8px 10px #000000;

  }
  .product-content {
    color: var(--primary-text);
  }

}
