@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}
:root {
  --primary-orange: #ff9f0d;
  --primary-text: #000;
  --second-text: #fff;
  --gray: #dadad9;
  --medium-gray: #b1b1b1;
  --dark-gray: #777777;
  --bg-color: #fff;
  --yellow-star: #ffc400;
}

@media (prefers-color-scheme: dark){
  :root {
    --primary-text: #fff;
    --second-text: #000;
    --bg-color: #1f1f1f;
    
  }
}

body{
  font-family: "Roboto", sans-serif;
  background: var(--bg-color);
}

h1{
  font-size: clamp(36px, 5vw,68px);
}
h2{
  font-size: clamp(24px, 2vw,56px);
}

h1, h2{
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.4em;
  margin-bottom: 10px;
  color: var(--primary-text);
}

p{
  line-height: 1.6rem;
  padding-bottom: 15px;
  font-weight: 500;
  color: var(--primary-text);
}
