@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
:root {
  --primary-orange: #ff9f0d;
  --primary-text: #000;
  --second-text: #fff;
  --gray: #dadad9;
  --medium-gray: #b1b1b1;
  --dark-gray: #777777;

}

body{
  font-family: "Roboto", sans-serif;
  
}

h1{
  font-size: clamp(36px, 5vw,68px);
}
h2{
  font-size: clamp(24px, 2vw,56px);
}

h1, h2{
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.4em;
  margin-bottom: 10px;
}

p{
  line-height: 1.6rem;
  padding-bottom: 15px;
  font-weight: 500;
}
/* h1{
  font-size: clamp(36px, 5vw,68px);
} */

/* :root {
  color-scheme: light dark;
  --primary : #caf8bf;
  --text: black
}

body{
  background: #323cf8;
}

@media (prefers-color-scheme : light){
 body{
  background: #989dff;
 }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: var(--primary);
  color: var(--text);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --primary : #77d85e;
    --text: white
  }
  a:hover {
    color: #747bff;
  }

} */
